# À ajouter MANUELLEMENT dans clients/prime-lbg/ après test de lancement OK
# (le launchpad ne force plus ces lignes — évite de casser le démarrage)

[SharedFile]
	maxSearchPriority=26
	searchTree_00_25=patch_lbg_00.tre

# user.cfg (optionnel, redondant si déjà dans swgemu_live.cfg) :
# searchTree_00_25=patch_lbg_00.tre
