-- Copier sur la VM sous : /opt/lbg-new-mmo/MMOCoreORB/bin/conf/config-local.lua
-- (ne pas committer de secrets réels). Ce fichier surcharge conf/config.lua après chargement.
-- Référence : docs/core3_mmoorb_vm.md

Core3.TrePath = "/opt/lbg-new-mmo/tre"
Core3.DBHost = "127.0.0.1"
Core3.DBPort = 3306
Core3.DBName = "swgemu"
Core3.DBUser = "swgemu"
Core3.DBPass = "CHANGEME"
Core3.MantisHost = "127.0.0.1"
Core3.MantisPort = 3306
Core3.MantisName = "swgemu"
Core3.MantisUser = "swgemu"
Core3.MantisPass = "CHANGEME"
